---
layout: page
---

{{ content }}

<div style="text-align: center;">
    <img src="{{site.baseurl}}/static/social.jpg" alt="Social" style="width: 50%; margin: 0 auto;">
</div>

<a href='https://www.free-counters.org/'>https://www.free-counters.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=6dbdc962f1bc1f71b27f9265aa1bc54396923953'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1126846/t/0"></script>

<!-- Pixel Code for https://www.widgetsquad.com/ -->
<script async src="https://www.widgetsquad.com/pixel/4bhhn4x7vrn7e7g3e9k8hl9sxbwa8gy3"></script>
<!-- END Pixel Code -->