---
layout: page
---

<div style="text-align: center;">
    <img src="/static/social.jpg" alt="Social" style="width: 50%; margin: 0 auto;">
</div>

{{ content }}

<div style="display: flex;">
    <div style="flex: 1;">
        <p>Hi, I'm Cantika, a graduate from Bina Nusantara University in International Relations major. My fascination lies in parliamentary diplomacy and the broader spectrum of international affairs. When I first started my degree, I was overwhelmed by the amount of information I had to absorb. I was also confused about where to start. I hope this website can help you to get a better understanding of international relations and its related fields. If you have any questions, feel free to contact me through my website. Happy learning! 
        
        The first version of my website can be seen [here](international-relations-studyguide.netlify.app).
        </p>
    </div>
    <div style="flex: 1; text-align: center;">
        <img src="/static/me.png" alt="Social" style="width:70%; margin: 0 auto;">
    </div>

</div>

